.flag {
    //  padding:10px;
    margin-left: 5px;
    margin-right: 5px;
}

.zoomable:hover {
    cursor:pointer;
    transform: scale(1.4);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.flags-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    font-size: 24px;
}