@font-face {
    font-family: 'Indie Flower';
    src: url('../assets/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url('../assets/PlayfairDisplay-Italic.ttf');
}