@import './quasar.variables.scss';
@import '~quasar-styl';
@import './fonts.scss';
@import './card.scss';
@import './homePage.scss';
@import './flags.scss';
.bg-main {
background: 
linear-gradient(
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)
),
url('../assets/background.jpg');
background-size: cover;
}
aside {
  background-color: inherit !important;
}
.bg-teal {
    background-color: $teal-4;
}

.teal-color {
    color: $teal-3;
}

.padding-3 {
    padding:3px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.link:hover {
    cursor: pointer;
}
.fit-content {
    margin:20px;
    max-width:900px;
    display: flex;
}
.page-container {
    display: flex;
    justify-content: center;
}
.fit-content > img {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: stretch;
    object-fit: cover;
}
.fit-content-vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-link {
  color:whitesmoke;
  font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 2em;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
  background-color: $teal-5-transparent;
  border: 2px solid $teal-4;
  padding: 7px;
}
.card-link:hover {
  background-color: $teal-4;
  border-radius: 10px 10px 10px 10px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.flex-container-td {
width: 50%;
display: inline-flex;
justify-content: flex-start;
padding-left: 50px;
}
.flex-container-td-right {
  width: 50%;
  display: inline-flex;
  justify-content: flex-end;
}
.skewed-text {
    font-family: Indie Flower;
    font-size: 1.5em;
    width: 100%;
    margin-left: -100%;
    padding: 90px 0 0 90px;
  max-width: 750px;
  transform: rotate(-10deg);
  /* Safari */
  -webkit-transform: rotate(-10deg);
  /* Firefox */
  -moz-transform: rotate(-10deg);
  /* Opera */
  -o-transform: rotate(-10deg);
  /* IE */
  -ms-transform: rotate(-10deg);
}

.concentric-circles {
    width: 20px;
    height: 20px;
    margin-top: 50px;
    margin-left: 50%;
    background-color: red;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    animation: ripple 2.0s 0.2s infinite;
    -webkit-animation: ripple 2.0s 0.2s  infinite;
    -webkit-animation: ripple 2.0s 0.2s  infinite;
  }

  .concentric-circles-1-container {
    margin-left: -16%;
    margin-top: 15%;
  }
  .concentric-circles-2-container {
    margin-left: -2.2%;
    margin-top: 23%;
  }
  .concentric-circles-3-container {
    margin-left: -2.2%;
    margin-top: 31%;
  }
  .concentric-circles:hover {
    transform: translateX(-50%) scale(1.2);
    cursor:pointer;
  }
  .table-title{
    display:flex;
    justify-content: center;
    color: $teal-5;
    font-size: 2em;
    font-weight:600;
    width:100%;
  }
  .rating {
    width: 226px;
    font-size: 40px;
    overflow:hidden;
    font-family: "Segoe WP","Segoe UI", Helvetica, Arial, sans-serif;
  }
  .rating > .unmarked {
    color: #aaa;
    text-decoration: none;
    margin:5px;
  }
  .rating > .marked {
    color: orange;
    text-decoration: none;
    margin:5px;
  }

  .q-table  th {
    font-weight: bolder;
  }
  .table-alternate-row-color {
    background-color:rgba(38, 166, 154, 0.1);
  }
  .regular-row {
    font-size:x-large !important;
    text-align: center;
  }
  @keyframes ripple {
    20% {
      box-shadow: 0px 0px 0px 3px #fff,
                  0px 0px 0px 4px #222;
    }
    
    50% {
      box-shadow: 0px 0px 0px 3px #fff,
                  0px 0px 0px 4px #222,
                  0px 0px 0px 7px #fff,
                  0px 0px 2px 8px #888;
    }
    
    100% {
      box-shadow: 0px 0px 0px 3px #fff,
                  0px 0px 0px 4px #222,
                  0px 0px 0px 7px #fff,
                  0px 0px 2px 7px #888, 
                  0px 0px 0px 11px #fff,
                  0px 0px 5px 12px #ddd;
    }
  }


